
body {
  background-image: url('img/background_image.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 400px left;
}

.background {
    position: absolute;
    left: 450px;
}

h1 {
  font-size: 48px;
  color: black;
  font-family: Proxima Nova, sans-serif;
} 

paragraph{
  font-size: 24px;
  color: black;
  font-family: Georgia, serif;
}

.header {
    width: 102%;
    height: 64px;
    right: 10px;
    bottom: 8px;
    padding: 5px;
    padding-left: 10px;
    background-color: white;
    position: relative;
    color: black;
    display: flex;
    align-items: center;
}

.sidebar {
  height: 100%;
  width: 496px;
  position: absolute;
  left: 0;
  top: 74px;
  padding-top: 40px;
  padding-right: 20px;
  background-color: lightblue;
}
.sidebar div {
  padding: 8px;
  font-size: 24px;
  display: block;
}
.body-text {
  margin-left: 450px;
  font-size: 18px;
}
